<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<link rel = 'icon' href = "{% static 'images/rango.jpg' %}">
	<title>
		Tango - {% block title_block %} How to Tango with Djnago! {% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<nav class = 'navbar navbar-default navbar-fixed-top' role = 'navigation'>
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">M J</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="{% url 'tango:index' %}">首页</a></li>
				<li><a href="#">Python</a></li>
				<li><a href="#">Django</a></li>
				<li><a href="#">HTML</a></li>
				<li><a href="#">CSS</a></li>
				<li><a href="#">Boostrap</a></li>
				<li><a href="#">MarkDown</a></li>
			</ul>
			<form rol = 'search' class = 'navbar-form navbar-left'>
				<div class = 'form-group'>
					<input class = 'form-control navbar-left' type="text" placeholder = '搜索'>
				</div>
				<button type="submit" class = 'btn btn-default'>搜索</button>
			</form>
			<ul class = 'nav navbar-nav navbar-right' >
				{% if user.is_authenticated %}
					<li><a href="{% url 'accounts:auth_logout' %}?next=/tango/">退出</a></li>
				{% else %}
					<li><a href="{% url 'accounts:auth_login' %}"><span class = 'glyphicon glyphicon-user'></span> 登录</a></li>
					<li><a href="{% url 'accounts:registration_register' %}"><span class = 'glyphicon glyphicon-log-in'></span> 注册</a></li>
				{% endif %}
			</ul>
		</div>		
	</div>
	</nav>

<div class="clearfix"></div>
<br>
<br>
<br>
	
	<div class="container-fluied">
		<div class="row">
		<div class = 'col-md-2 col-sm-3 sidebar' >
			{% block sidebar_block %}
			{% endblock %}
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
			{% block body_block %}
			{% endblock %}
			{% block foot_block %}
			{% endblock %}
		</div>
		</div>
	</div>
	<script src = "{% static 'js/bootstrap.min.js' %}></script>
</body>
</html>